@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App{
  background-color: gainsboro;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}